<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title=#{dailyLog.title})"></head>
<body>

<div th:replace="fragments/navigation :: navigation"></div>

<main>
    <section class="section">
        <div class="container">
            <div class="is-pulled-right">
                <a th:href="@{'/dailylog/' + ${previousDay}}" th:text="#{dailyLog.previousDay}"></a> |
                <a th:href="@{'/dailylog/' + ${today}}" th:text="#{dailyLog.today}"></a> |
                <a th:href="@{'/dailylog/' + ${nextDay}}" th:text="#{dailyLog.nextDay}"></a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title" th:text="${#temporals.format(localDate, 'EEE dd.MM.yyyy')}"></h1>
            <div class="box has-text-centered">
                <div id="timer" class="is-size-1">25:00</div>
                <button id="timer-start-button" class="button is-success is-outlined">Start</button>
                <button id="timer-stop-button" class="button is-danger is-outlined">Stop</button>
                <button id="timer-reset-button" class="button is-outlined">Reset</button>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="item-list panel" th:attr="data-collection-id=${collection.getId()}, data-item-type=event">
                <h2 class="panel-heading">
                    <b>Events</b>
                </h2>
                <th:block th:each="event : ${events}">
                    <th:block th:if="${event.id == editTask.id}">
                        <div class="panel-block">
                            <form th:object="${editTask}" th:action="@{'/dailylog/edit/' + event.id}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="text" class="input" placeholder="New Event" th:field="*{title}"/>
                                <button type="submit" class="button" th:text="#{button.add}"></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${event.id == editTask.id}">
                        <a class="panel-block item" th:attr="data-item-id=${event.id}">
                            <span class="panel-icon">
                                <i class="fas" aria-hidden="true"
                                   th:classappend="${event.status.name() == 'DONE'} ? fa-calendar-check : fa-calendar"></i>
                            </span>
                            <span class="item-title" th:text="${event.title}"></span>
                            <div class="column is-paddingless"></div>
                            <div class="column is-2 is-paddingless">
                                <div class="buttons has-addons is-pulled-right">
                                    <button class="item-action action-resolve button fas fa-check-square"
                                            title="Resolve"></button>
                                    <button class="item-action action-move button fas fa-caret-square-right"
                                            title="Move"></button>
                                    <button class="item-action action-cancel button fas fa-minus-square"
                                            title="Cancel"></button>
                                    <button class="item-action action-edit button fas fa-edit" title="Edit"></button>
                                    <button class="item-action action-delete button fas fa-trash"
                                            title="Delete"></button>
                                </div>
                            </div>
                        </a>
                    </th:block>
                </th:block>
                <p class="add-item-button-panel panel-block">
                    <button class="add-item-button task-add button is-fullwidth fas fa-plus"></button>
                </p>
                <p class="add-item-form-panel panel-block" style="display: none;">
                    <input type="text" class="add-item-input input" placeholder="New Event"/>
                    <button type="submit" class="add-item-submit button is-success with-margin-left">Save</button>
                    <button type="reset" class="add-item-cancel button with-margin-left">Cancel</button>
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="item-list panel" th:attr="data-collection-id=${collection.getId()}, data-item-type=task">
                <h2 class="panel-heading">
                    <b>Tasks</b>
                </h2>
                <th:block th:each="task : ${tasks}">
                    <th:block th:if="${task.id == editTask.id}">
                        <div class="panel-block">
                            <form th:object="${editTask}" th:action="@{'/dailylog/edit/' + task.id}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="text" class="input" placeholder="New Task" th:field="*{title}"/>
                                <button type="submit" class="button" th:text="#{button.add}"></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${task.id == editTask.id}">
                        <a class="panel-block item" th:attr="data-item-id=${task.id}">
                            <span class="panel-icon">
                                <i class="fas" aria-hidden="true"
                                   th:classappend="${task.status.name() == 'DONE'} ? fa-check-square : fa-square"></i>
                            </span>
                            <span class="item-title" th:text="${task.title}"></span>
                            <div class="column is-paddingless"></div>
                            <div class="column is-2 is-paddingless">
                                <div class="buttons has-addons is-pulled-right">
                                    <button class="item-action action-resolve button fas fa-check-square"
                                            title="Resolve"></button>
                                    <button class="item-action action-move button fas fa-caret-square-right"
                                            title="Move"></button>
                                    <button class="item-action action-cancel button fas fa-minus-square"
                                            title="Cancel"></button>
                                    <button class="item-action action-edit button fas fa-edit" title="Edit"></button>
                                    <button class="item-action action-delete button fas fa-trash"
                                            title="Delete"></button>
                                </div>
                            </div>
                        </a>
                    </th:block>
                </th:block>
                <p class="add-item-button-panel panel-block">
                    <button class="add-item-button task-add button is-fullwidth fas fa-plus"></button>
                </p>
                <p class="add-item-form-panel panel-block" style="display: none;">
                    <input type="text" class="add-item-input input" placeholder="New Task"/>
                    <button type="submit" class="add-item-submit button is-success with-margin-left">Save</button>
                    <button type="reset" class="add-item-cancel button with-margin-left">Cancel</button>
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="item-list panel" th:attr="data-collection-id=${collection.getId()}, data-item-type=note">
                <h2 class="panel-heading">
                    <b>Notes</b>
                </h2>
                <th:block th:each="note : ${notes}">
                    <th:block th:if="${note.id == editTask.id}">
                        <div class="panel-block">
                            <form th:object="${editTask}" th:action="@{'/dailylog/edit/' + note.id}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="text" class="input" placeholder="New Task" th:field="*{title}"/>
                                <button type="submit" class="button" th:text="#{button.add}"></button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="${note.id == editTask.id}">
                        <a class="panel-block item" th:attr="data-item-id=${note.id}">
                            <span class="panel-icon">
                                <i class="fas fa-file" aria-hidden="true"></i>
                            </span>
                            <span class="item-title" th:text="${note.title}"></span>
                            <div class="column is-paddingless"></div>
                            <div class="column is-2 is-paddingless">
                                <div class="buttons has-addons is-pulled-right">
                                    <button class="item-action action-resolve button fas fa-check-square"
                                            title="Resolve"></button>
                                    <button class="item-action action-move button fas fa-caret-square-right"
                                            title="Move"></button>
                                    <button class="item-action action-cancel button fas fa-minus-square"
                                            title="Cancel"></button>
                                    <button class="item-action action-edit button fas fa-edit" title="Edit"></button>
                                    <button class="item-action action-delete button fas fa-trash"
                                            title="Delete"></button>
                                </div>
                            </div>
                        </a>
                    </th:block>
                </th:block>
                <p class="add-item-button-panel panel-block">
                    <button class="add-item-button task-add button is-fullwidth fas fa-plus"></button>
                </p>
                <p class="add-item-form-panel panel-block" style="display: none;">
                    <input type="text" class="add-item-input input" placeholder="New Note"/>
                    <button type="submit" class="add-item-submit button is-success with-margin-left">Save</button>
                    <button type="reset" class="add-item-cancel button with-margin-left">Cancel</button>
                </p>
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/bodyEnd :: bodyEnd"></div>

</body>
</html>