<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title=#{dailyLog.title})"></head>
<body>

<div th:replace="fragments/navigation :: navigation"></div>

<main>
    <section class="section">
        <div class="container">
            <div class="is-pulled-right">
                <a th:href="@{'/dailylog/' + ${previousDay}}" th:text="#{dailyLog.previousDay}"></a> |
                <a th:href="@{'/dailylog/' + ${today}}" th:text="#{dailyLog.today}"></a> |
                <a th:href="@{'/dailylog/' + ${nextDay}}" th:text="#{dailyLog.nextDay}"></a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <!--<h1 class="title" th:text="${localDate}"></h1>-->
            <h1 class="title" th:text="${#temporals.format(localDate, 'EEE dd.MM.yyyy')}"></h1>
            <div class="box has-text-centered">
                <p class="with-margin">
                    There is no Daily Log for this day, yet.
                </p>
                <form th:object="${dailyLog}" th:action="@{'/dailylog'}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <!--<input type="text" class="input" placeholder="New Task" th:field="*{title}"/>-->
                    <input type="hidden" th:field="*{localDate}"/>
                    <button id="create-dailylog" type="submit" class="button is-success with-margin"
                            th:text="#{emptyDailyLog.createDailyLogButton.label}"></button>
                </form>
                <!--<button id="create-dailylog" class="button is-success with-margin">Create Daily Log</button>-->
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/bodyEnd :: bodyEnd"></div>

</body>
</html>