<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasket - Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Tasks</h1>
<p th:text="'This is is the task list'"></p>
<p>
    <a th:href="@{/tasks/add}">Add task</a>
</p>
<table>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td><a th:href="${'/tasks/edit/' + task.id}">Edit</a></td>
        <td><a th:href="${'/tasks/delete/' + task.id}">Delete</a></td>
    </tr>
</table>
</body>
</html>